.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 103px;
  height: 33px;
  border: none;
  padding: 0;

  color: #2b2b2b;
  background: #bebebe;

  cursor: pointer;
  outline: none;
}

.secondary {
  color: #bebebe;
  border: 1px solid #bebebe;
  background: rgba(0, 0, 0, 0);
}
