.input {
  margin-right: 5px;

  box-sizing: border-box;
  border: none;
  outline: none;
  caret-color: #969696;
  border-radius: 4px;

  background: #494949;
  padding: 10px 0 10px 15px;

  height: 36px;
  width: 189px;
}

.text {
  font-size: 18px;
  font-weight: 700;
  color: #bebebe;
}
