.input {
  margin-right: 5px;

  box-sizing: border-box;
  border: none;
  outline: none;
  caret-color: #121212;
  color: #121212;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 400;

  background: #2b2b2b0f;
  padding: 10px 0 10px 15px;

  height: 36px;
  width: 100%;
}

.text {
  font-size: 18px;
  font-weight: 700;
  color: #bebebe;
}
