.containersContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  background: #f7f7f7 linear-gradient(90deg, rgba(172, 203, 238, 0.33), rgba(231, 240, 253, 0.33))
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.7);

  font-family: 'IBM Plex Sans', sans-serif;
}

@media only screen and (max-width: 400px) {
  .container {
    width: 300px;
  }
}

.header {
  width: 100%;
  height: 51px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #f7f7f7;
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.11);
  display: flex;

  font-weight: 500;
  color: #969696;
  font-size: 20px

  cursor: pointer;
}

.signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-right: 2px solid #c8c8c8;
}

.signIn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.active {
  text-decoration: underline;
}

.input {
  box-sizing: border-box;
  border: none;
  outline: none;

  caret-color: #969696;
  color: #969696;
  width: 85%;
  height: 44px;
  border-radius: 5px;
  background: #f7f7f7;
  margin-bottom: 14px;
  box-shadow: 0px 2px 4.75px 0.25px rgba(0, 0, 0, 0.11);
  padding-left: 21px;

  &:first-of-type {
    margin-top: 28px;
  }

  &:placeholder {
    font-weight: 300;
    font-size: 18px;
    color: #969696;
  }
}

.lastInput {
  margin-bottom: 28px;
}

.button {
  height: 43px;
  padding: 0 20px;
  border-radius: 5px;
  background: #000 linear-gradient(90deg, rgba(172,203,238,0.39), rgba(231,240,253,0.39));
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  color: #ebedf2;
  margin-bottom: 17px;
}
