.textarea {
  &::placeholder {
    color: #969696;
  }
  box-sizing: border-box;
  border: none;
  outline: none;
  caret-color: #969696;
  border-radius: 4px;

  resize: none;
  background: #2b2b2b;
  padding: 10px 15px;

  height: 144px;
  width: 100%;
}

.text {
  font-size: 18px;
  font-weight: 300;
  color: #bebebe;
}
