.title {
  margin: 0;
  display: inline;
  line-height: 1;

  font-size: 35px;
  // font-family: 'Proza Libre', sans-serif;;
  font-weight: 700;
}

.secondary {
  font-size: 30px;
  font-weight: 500;
  color: #3b3b3b;
}
