.input {
  box-sizing: border-box;
  border: none;
  outline: none;
  caret-color: #3b3b3b;
  color: #3b3b3b;
  font-size: 16px;
  border-radius: 4px;
  font-family: "IBM Plex Sans", sans-serif;
  background: rgba(43, 43, 43, 0.0588235294);
  padding: 10px 0 10px 15px;
  height: 36px;
  width: 100%;
}

.search {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  border: none;
  background: rgba(43, 43, 43, 0.0588235294);
  padding: 9px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: #3b3b3b;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  background: transparent;
  border: 1px solid #59acd6;
  transition: color 0.1s;
  margin-top: 8px;
}
.search svg {
  color: #3b3b3b;
  transition: color 0.1s;
  margin-left: 8px;
}

.text {
  font-size: 16px;
  color: #bebebe;
  display: flex;
  margin-bottom: 24px;
  position: relative;
}

.dropdownContainer {
  position: absolute;
  top: 50%;
  right: 83px;
  transform: translateY(-50%);
  width: 138px;
  box-sizing: border-box;
  right: 95px;
  transition: color 0.1s;
  font-size: 16px;
}
.dropdownContainer svg {
  position: absolute;
  right: 5;
  top: 50%;
  transform: translateY(-50%);
  color: #3b3b3b;
  cursor: pointer;
  height: 18px;
  transition: color 0.1s;
}

.dropdownValue {
  font-family: IBM Plex Sans, sans-serif;
  border: none;
  background: transparent;
  padding: 9px 16px;
  padding-right: 40px;
  border-radius: 4px;
  cursor: pointer;
  color: #3b3b3b;
  border: 1px solid #59acd6;
  line-height: 1;
  box-sizing: border-box;
  transition: color 0.1s;
}

.dropdownItemsContainer {
  position: absolute;
  font-family: IBM Plex Sans, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  bottom: 0;
  color: #3b3b3b;
  z-index: 999;
  cursor: pointer;
  box-shadow: 0 3px 3.84px 1.16px rgba(12, 12, 12, 0.168627451);
  background: #f4f3fd;
  margin-top: -3px;
  padding: 0 4px;
  transition: color 0.1s;
}
.dropdownItemsContainer > div {
  border-top: 1px solid rgba(59, 59, 59, 0.1294117647);
  padding: 9px 0;
  padding-left: 16px;
}
.dropdownItemsContainer > div span {
  margin-left: -3px;
  margin-top: 1px;
  display: block;
}
.dropdownItemsContainer > div:first-child {
  border-top: none;
}

.buttonsOutside {
  flex-direction: column !important;
  gap: 8px !important;
  margin-top: 10px;
}
.buttonsOutside .dropdownValue {
  border: none;
}
.buttonsOutside .dropdownContainer {
  position: relative !important;
  border-radius: 4px;
  top: 0;
  right: 0;
}
.buttonsOutside .dropdownContainer, .buttonsOutside .search {
  position: relative;
  transform: none;
  width: 100%;
  background: rgba(43, 43, 43, 0.0588235294);
  border: none;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 386px) {
  .text {
    flex-direction: column;
    gap: 8px;
  }
  .dropdownValue {
    border: none;
  }
  .dropdownContainer {
    position: relative !important;
    border-radius: 4px;
    top: 0;
    right: 0;
  }
  .dropdownContainer, .search {
    position: static;
    transform: none;
    width: 100%;
    background: #f4f3fd;
    border: none;
  }
}
@media only screen and (max-width: 945px) {
  .text {
    font-size: 16px;
  }
  .text button {
    font-size: 16px;
    color: #f4f3fd;
    background: #3b3b3b !important;
  }
  .text button svg {
    color: #f4f3fd;
  }
  .text input {
    height: 36px;
    font-size: 16px;
    color: #f4f3fd;
    caret-color: #f4f3fd;
    background: #3b3b3b;
  }
  .text input::placeholder {
    color: #f4f3fd;
  }
  .text .dropdownContainer {
    background: #3b3b3b;
    color: #f4f3fd;
  }
  .text .dropdownContainer svg {
    color: #f4f3fd;
  }
  .text .dropdownValue {
    color: #f4f3fd;
  }
  .text .dropdownValue svg {
    color: #f4f3fd;
  }
}

/*# sourceMappingURL=style.module.css.map */
