.card {
  border-radius: 14px;
  background: white;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 122px;
  flex-wrap: wrap;
  border: 1px solid #b5b5b5;
  // gap: 32px;
}

.leftSideContainer {
  display: flex;
  flex-direction: column;

  & > span {
    width: 145px;
    text-overflow: ellipsis;
    // text-wrap: nowrap;
    // white-space: nowrap;
    overflow: hidden;
  }
}
