.card {
  border-radius: 4px;
  // box-shadow: 0px 3px 3.84px 2.16px rgba(12, 12, 12, 0.17);
  background: transparent;
  border: 1px solid #b3b3b3;
  width: 100%;
  min-height: 180px;
  margin-bottom: 10px;
  padding: 15px 15px 10px;
  padding-right: 39px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.expand {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100% - 18px);
  width: 32px;
  align-items: end;
  border-left: 1px solid #2b2b2b57;

  svg {
    color: #3b3b3b;
    cursor: pointer;
  }
}

.username {
  color: #00000063;
  cursor: pointer;
  transition: color .2s;

  &:hover {
    color: #3b3b3b;
  }
}

.hint {
  font-size: 16px;
  color: #969696;
  font-weight: 300;
}
