.body {
  display: flex;
  justify-content: center;
  width: 100vw;
  // background: #000 linear-gradient(90deg, #accbee63, #49333e);
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  max-height: 100dvh;
  min-height: 100dvh;
}

.close {
  width: 100%;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
    margin-bottom: 20px;
  }

  svg {
    cursor: pointer;
  }
}

.address {
  overflow: hidden;
  max-width: 390px;
  display: block;
  text-overflow: ellipsis;
}

.row {
  display: flex;
  gap: 8px;

  b {
    white-space: nowrap;
  }
}

.amount {
  text-overflow: ellipsis;
  max-width: 180px;
  display: block;
  overflow: hidden;
}