.newQuestion {
  margin-top: 25px;
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .newQuestion {
    margin-top: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .newQuestion textarea {
    height: 110px!important;
  }
}