.saveButton {
  width: 73px;
  height: 36px;

  background: rgba(0, 0, 0, 0)
  border: 1px solid #bebebe;

  color: #bebebe;
  font-size: 18px;
  font-weight: 500;

  &:disabled {
    cursor: default;
    border: 1px solid #696969;
    color: #696969;
  }
}
