.back {
  color: #f4f3fd;
  cursor: pointer;
  margin-bottom: 14px;
  background: #1c1c1c;
  border-radius: 4px;
  padding: 3px;
  margin-top: 10px;
  position: relative;

  &::after {
    content: " <- EXCITING!";
    color: green;
    // display: block;
    // content: "";
    // position: absolute;
    // top: 50%;
    // right: 50%;
    // transform: translate(-50%, -50%)
    // width: 24px;
    // height: 24px;
    // background: #2b2b2b;
    // transition: transform .2s;
    // transform: scale(0);
  }

  // &:hover {
  //   &::after {
  //     transform: scale(1);
  //   }
  // }
}

.backContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}

.screenWithGroupContent {
  background: white;
  border-radius: 4;
  box-shadow: 0px 3px 3.84px 2.16px rgba(12, 12, 12, 0.17);
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Sans';
  max-width: 500px;
  width: calc(100% - 20px);
  background: #2b2b2b;
  padding-top: 10px;
  gap: 8px;
  overflow: scroll;
  height: calc(100dvh - 20px);
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 20px 0;
}

.tabs {
  background: #1c1c1c;
  margin-bottom: 24px;
  display: flex;
  gap: 12px;
  border-radius: 4px;
  padding: 4px;
}

.tabs {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    color: #bebebe;
    background-color: #1c1c1c;
    cursor: pointer;
    font-family: 'IBM Plex Sans';
    transition: background-color .1s;
  }

  div.selected {
    background-color: #2b2b2b;
  }
}
