.back {
  color: #3b3b3b;
  cursor: pointer;
  padding: 3px;
  position: relative;
}

.backContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}

.screenWithGroupContent {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Sans';
  max-width: 500px;
  width: calc(100% - 20px);
  gap: 8px;
  overflow: scroll;
  height: calc(100dvh - 20px);
  box-sizing: border-box;
}

.tabs {
  background: #2b2b2b0f;
  margin-bottom: 6px;
  display: flex;
  gap: 12px;
  border-radius: 4px;
  padding: 4px;
}

.tabs {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    color: #3b3b3b;
    cursor: pointer;
    font-family: 'IBM Plex Sans';
    transition: background-color .1s;
    text-align: center;
  }

  div.selected {
    background-color: #2b2b2b14;
  }
}

// @media only screen and (max-width: 945px) {
//   .tabs {
//     margin-bottom: 6px;
//   }
// }
