.back {
  color: white;
  cursor: pointer;
  margin-bottom: 24px;
}

.backContainer {
  width: 100%;
  display: flex;
  justify-content: end;
}

.tabs {
  background: #00000030;
  border: 1px dashed #3eb5f175;
  margin-bottom: 24px;
  display: flex;
  gap: 12px;
  border-radius: 4px;
  padding: 4px;
}

.tabs {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    color: #bebebe;
    background-color: #2b2b2b;
    cursor: pointer;
    font-family: 'IBM Plex Sans';
    transition: background-color .1s;
  }

  div.selected {
    background-color: #181818;
  }
}
