.input {
  border-radius: 4px;
  background: #494949;
  padding: 10px 0 10px 15px;
  outline: unset;
  border: none;
  caret-color: #969696;
  box-sizing: border-box;
  height: 36px;
  width: 189px;

  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #bebebe;
}
