.button {
  width: 103px;
  height: 33px;
  font-weight: 500;
  font-size: 18px

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.primary {
  background: #bebebe;

  color: #2b2b2b;
}

.secondary {
  margin-top: 10px;

  background: rgba(0, 0, 0, 0);
  border: 1px solid #3eb5f175;

  color: #bebebe;
}

.nobold {
  font-weight: normal!important;
}