.back {
  color: white;
  cursor: pointer;
  margin-bottom: 24px;
}

.totalAndBack {
  display: flex;
  justify-content: space-between;
}

.total {
  color: white;
  font-size: 18px;
  font-family: 'IBM Plex Sans';
}